.images {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
body{
  background: black; 
}
.allCard{
  background: black;
  color: #c60b08;
}
.logo {
  width: 60;
  height:60px;
  margin-left: 50px;
}
.card d-flex{
  width: 15rem;
  margin-right: 10px;
  margin-bottom: 30px;
}
.btn.btn-dark.dropdown-toggle {
  margin-right: 250px;
}

.title{
    display:grid;
}
.photo {
    display: flex;
    align-items: center;
  } 
  .photo img {
    width: 300px;
    height:300px;
    margin-right: 20px;
  }
  .photo a {
    text-decoration: none;
    color: blue;
  }

  .allInfo {
    display: flex;
    flex-direction:row;
    justify-content: center;
  }
  hr {
    border: 1px solid  #c60b08;
  }
  .cardWithMargin{
    margin-right: 10px;
  }

  .allInfo div {
    margin-bottom: 10px;
  }
  .allData {
    display: flex;
    flex-direction:column;
    margin-right: 50px;
    align-items: center;
    color: #c60b08;
  }
  .footerName{
    font-weight: bold;
  }
  h2{
    margin-bottom:none;
    color: #c60b08; 
  }
  .container{
    background: white;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .black-button {
    position: absolute;
    right: 0;
}

  .favorite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.trash {
  position: absolute;
  right: 0;
  margin-right: 6px;
  margin-top: 4px;
  margin-left: 20px;
}
